@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #F64C12;
  --backgroundLighter: #FFFAF5;
  --backgroundLight: #E8E2DD;
  --foreground: #344054;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
