@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f64c12;
  --white: #FFFEFD;
  --backgroundLighter: #fffaf5;
  --backgroundLight: #e8e2dd;
  --foreground: #182230;
  --max-w: 1920px;
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
